.container {
  background-color: rgb(171, 126, 212);
}

.item {
  font-size: 1.2rem;
  color: black;
  transition: .2s;
  text-decoration: none;
}

.item_active {
  background-color: rgb(94, 94, 94);
  color: yellow;
  cursor: default;
}

.item:hover {
  color: yellow;
}