@import url('./styles/reset.css');

.html {
  font-size: 10px;
}

.app-wrapper {
  max-width: 1480px;
  height: 100vh;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-areas: 
  "header header"
  "nav my-profile";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper__content {
  grid-area: my-profile;
  background-color: rgb(238, 237, 237);
}